/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Poppins", sans-serif;
}

nav {
	background-color: #090808;
	display: flex;
	justify-content: space-between;
	padding: 0px 35px 0px 35px;
}

.img-nav-p {
	font-weight: 700;
	font-size: 72px;
	color: #ffe074;
}

ul {
	list-style-type: none;
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li {
	display: inline;
}

li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
}

.bg-head {
	/* The image used */
	display: flex;
	background-image: url("img/head-img.jpg");
	background-color: tomato;

	/* Full height */
	height: 849px;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
}

.bg-head p {
	font-size: 96px;
	font-weight: 800;
	color: #e9f890;
	text-align: center;
}

article {
	background-color: #e5e5e5;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 89px;
	padding-bottom: 5%;
}

.about-team {
	font-weight: 300;
	text-align: center;
	margin-bottom: 10%;
}

.about-team #text-title {
	font-size: 51px;
}

.about-team #text-content {
	font-size: 29px;
}

.profile {
	display: flex;
}

.profile img {
	width: 275px;
	height: 370px;
	border-radius: 137.5px;
}

.profile .text {
	padding-top: 3%;
	font-size: 29px;
	margin-left: 3%;
}

.right {
	flex-direction: row-reverse;
}

.text-right {
	padding-top: 3%;
	font-size: 29px;
	margin-right: 3%;
}

#name-right {
	font-weight: 600;
	margin-bottom: 20px;
}
#hoby-right {
	font-weight: 300;
}

#name {
	font-weight: 600;
	margin-bottom: 20px;
}
#hoby {
	font-weight: 300;
}

footer {
	background-color: #000000;

	padding: 3% 5% 5% 5%;
}

.footer-wrap {
	width: 30%;
}

.name-team {
	font-size: 51px;
	color: #ffefef;
	font-weight: 600;
	margin-bottom: 5%;
}

.footer-text .title {
	font-size: 35px;
	font-weight: 500;
	color: #effd4c;
	text-align: center;
	margin-bottom: 30px;
}

.footer-text .content {
	font-size: 23px;
	font-weight: 300;
	color: #ffffff;
}

.footer-text {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	border-bottom: 2px solid #e5e5e5;
}
.footer-text .title-sub {
	margin-top: 50px;
	margin-bottom: 20px;
	color: #ffefef;
	font-size: 20px;
	font-weight: 300;
}
.footer-text .email {
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
	padding-left: 10px;
}

.footer-text .subscribe {
	height: 40px;
	width: 100%;
	text-align: center;
	background-color: #f8d300;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px;
	box-shadow: 0 7px #effd5f;
}
.footer-text .subscribe:active {
	position: relative;
	top: 7px;
	box-shadow: none;
}
:placeholder-shown {
	font-size: 14px;
}
